*
{
	margin: 0;
	padding: 0;
}

header
{
	font-size: 15px;
	background-size: cover;
	background-position: center;
	background-color: #F3F5F5;
}


#navbar {

	height: (80px);
	text-align: center;
	overflow: hidden;
	background-color: #333;
}

#navbar li a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
#navbar  li{
	display: inline-block;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.words{
	text-align: center;
	float: center;
	font-size: 20px;
}

.gay{
	overflow: auto;
	padding-top: 20px;
	margin: 20px;
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid #000;
	background-color: #F8F9F9;
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'Open Sans', sans-serif;
}