*
{
	margin: 0;
	padding: 0;
}

header
{
		
	
	background-size: cover;
	background-position: center;
}


#navbar {

	height: (80px);
	text-align: center;
	overflow: hidden;
	background-color: #333;
}

#navbar li a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
#navbar  li{
	display: inline-block;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.title{
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo
{
	margin: 10px, 50px;
	height: 80px;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  top: 100px;
  min-width: 100%; 
  max-height: 20%;
  object-fit: cover;
}


.menu
{
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}

.menu li
{
	display: inline-block;

}

.menu li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover
{
	background: #fff;
	transition: .4s;
	color: #000;
}

.welcome 
{
	position: relative;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	top: 60px;
}

.welcome h1
{
	font-size: 42px;
	margin: 25px;	
}

/*
.btn
{
	font-size: 18px;
	letter-spacing: 2px;
	margin: 20px;
	text-decoration: none;
	border: 1px solid #fff;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.btn1{
	color: #fff;
}

.btn2{
	background: #000;
	color: #fff;
}
.btn1:hover
{
	background: #000;
	color: #fff;
	transition: .4s;
}
*/

.about{
	text-align: center;
	padding-top: 420px;
}

.clearfix{
	overflow: auto;
	padding-top: 20px;
	margin: 20px;
	margin-left: 200px;
	margin-right: 200px;
	border: 1px solid #000;
	background-color: #F8F9F9;
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	font-family: 'Open Sans', sans-serif;
}

.img1{
	float: right;
}

.textS{
	
}






